<h1>Listing albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Release date</th>
    <th>Genre</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.title %></td>
    <td><%= album.artist.name %></td>
    <td><%= album.release_date.to_date %></td>
    <td><%= album.genre %></td>
    <td><%= humanized_money_with_symbol album.price %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Album', new_album_path, class: 'btn btn-primary', :method => 'get' %>
<%= button_to 'Artists',  artists_path, class: 'btn btn-primary', :method => 'get' %>
