<% @page_title = 'Checkout!' %>
<h2>Your Shopping Cart</h2>

<%= render 'cart' %>

<%= form_tag('/public/create_order') do |f| %>
	<%= label_tag :first_name %><br>
	<%= text_field_tag :first_name %><br>
	<%= label_tag :last_name %><br>
	<%= text_field_tag :last_name %><br>
	<%= label_tag :address %><br>
	<%= text_field_tag :address %><br>
	<%= submit_tag 'Place order' %>
<% end %>



