<h1>Music Library Store</h1>

<h2>Your Shopping Cart</h2>

<table class="publicListTable">
	<% for item in @cart.items %>
		<% row_color = cycle("CCCCCC", "FFFFFF") %>
		<tr style="background-color: #<%= row_color %>">
			<td rowspan="1">
				<%= image_tag(item.album.image_path, :size => '60x60') %>
			</td>
			<td>
				<p class="publicListAlbumInfo bold"><%= item.album.title %></p>
			</td>
			<td>
				<p class="showCartArtistName"><%= item.album.artist.name if item.album.artist %></p>
			
			<td>
				<p class="publicListAlbumInfo">Quantity: <%= item.quantity %></p>
			
			
				<p class="publicListAlbumInfo">Price: <%= humanized_money_with_symbol item.price %></p>
			</td>
		</tr>
	<% end %>	

</table>

<p>Total: <%= humanized_money_with_symbol @cart.total_price %></p>